
#cite_rollover_commentary_text {
	max-width: 55%;
	/* border: 1px solid silver; */
	display: block;
	margin-top: 1em;
	background-color: white;
	padding: 1em;
	font-size: 125%;
}

#cite_rollover_commentary_comments {
	position: fixed;
	margin-top: 1em;
	display: block;
	background-color: rgb(201, 194, 183);
	top: 75px;
	right: 25px;
	max-width: 30%;
	width: 35em;
  /* border: 1px solid silver ; */
	padding: 1em;
	overflow: scroll;
	max-height: 90%;
}

#cite_rollover_commentary_comments h1 {
	font-family: Helvetica, sans;
	font-size: 12pt;
	margin: -1em;
	padding: 1em;
	background-color: navy;
	color: white;
}

.cite_rollover_commentary_comment {
	display: none;
}

.cite_rollover_commentary_comment.visible {
	display: block;
	overflow: scroll;
}

#cite_rollover_commentary_text span.ohco2_citableNodeText.selected {
	background-color: rgba(255,255,0);
}

#cite_rollover_commentary_text span.ohco2_citableNodeText:hover {
	background-color: lemonChiffon;
}


